<app-card titulo="Primeiro Componente" cor="blue">
  <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Aprofundando conhecimento em templates" cor="cyan">
  <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes" cor="orange">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two way data binding" cor="#eea">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando Listas" cor="#aeb">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componentes Personalizados (Input)" cor="#ccc">
  <app-componente-personalizado nome="Renan" sobrenome="Martarelli"></app-componente-personalizado>
  <app-componente-personalizado nome="Marcão" sobrenome="Pomposo"></app-componente-personalizado>
</app-card>
<app-card titulo="Compartilhando dados entre componentes" cor="#1f1">
  <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Serviços" cor="#24e">
  <app-exemplo-servicos1></app-exemplo-servicos1>
  <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card titulo="Ciclos de vida">
  <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
